# .gitignore
.env

# swift ios gitignore
.DS_Store
/build
/Pods
*.xcodeproj
!*.xcodeproj/project.pbxproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdatad
*.xccheckout
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserstate
project.xcworkspace/
xcuserdata/

